 .u-section-1 {
  min-height: 1340px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Great Vibes";
  font-weight: normal;
  margin: 277px calc(((100% - 1140px) / 2) + 114px) 0 calc(((100% - 1140px) / 2) + 155px);
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 322px;
  margin: -342px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 379px;
  height: 139px;
  margin: -219px calc(((100% - 1140px) / 2) + 342px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  font-family: "Antic Didone";
  line-height: 1.5;
  margin: 111px calc(((100% - 1140px) / 2) + 142px) 0 calc(((100% - 1140px) / 2) + 220px);
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: Tangerine;
  font-weight: normal;
  margin: -31px calc(((100% - 1140px) / 2) + 160px) 0 calc(((100% - 1140px) / 2) + 202px);
}

.u-section-1 .u-text-4 {
  font-family: "Antic Didone";
  font-size: 1.5rem;
  margin: 0 calc(((100% - 1140px) / 2) + 151px) 0 calc(((100% - 1140px) / 2) + 211px);
}

.u-section-1 .u-group-1 {
  width: 466px;
  min-height: 350px;
  margin: 93px calc(((100% - 1140px) / 2) + 326px) 60px auto;
}

.u-section-1 .u-group-2 {
  min-height: 351px;
  width: 466px;
  margin: -44px -16px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 227px;
  margin: 0 130px 0 auto;
}

.u-section-1 .u-image-4 {
  height: 278px;
  margin-top: -155px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1416px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 323px;
    margin-right: calc(((100% - 940px) / 2) + 17px);
    margin-left: calc(((100% - 940px) / 2) + 52px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -387px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -169px;
    margin-right: calc(((100% - 940px) / 2) + 251px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 114px;
    margin-right: calc(((100% - 940px) / 2) + 63px);
    margin-left: calc(((100% - 940px) / 2) + 99px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -10px;
    margin-right: calc(((100% - 940px) / 2) + 51px);
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-right: calc(((100% - 940px) / 2) + 51px);
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-1 .u-group-1 {
    width: 413px;
    min-height: 166px;
    margin-top: 256px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 201px);
  }

  .u-section-1 .u-group-2 {
    margin-top: -175px;
    margin-right: -103px;
    margin-bottom: -9px;
  }

  .u-section-1 .u-image-4 {
    height: 277px;
    margin-top: -153px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 462px;
    margin-right: calc(((100% - 720px) / 2) + 23px);
    margin-left: calc(((100% - 720px) / 2) + -23px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -527px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -36px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 23px);
    margin-left: calc(((100% - 720px) / 2) + -23px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 17px;
    margin-right: calc(((100% - 720px) / 2) + 23px);
    margin-left: calc(((100% - 720px) / 2) + -23px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 10px;
    margin-left: calc(((100% - 720px) / 2) + 201px);
  }

  .u-section-1 .u-group-2 {
    margin: 30px auto -215px -84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 149px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 34px;
    margin-left: calc(((100% - 540px) / 2) + 127px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1354px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 433px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 281px;
    margin-top: -485px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 125px;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    width: 340px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 100px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    min-height: 350px;
    width: 340px;
    margin: -60px -5px -125px auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    height: 199px;
    width: 340px;
    margin-top: -119px;
    margin-right: auto;
    margin-left: -5px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 910px;
  margin: 114px auto;
}

.u-section-2 .u-image-1 {
  min-height: 534px;
  background-image: url("images/rett.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-group-1 {
  width: 493px;
  min-height: 135px;
  margin: 29px -93px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-2 .u-text-1 {
  font-family: "Great Vibes";
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 0 0 0 36px;
}

.u-section-2 .u-text-2 {
  font-family: "Bilbo Swash Caps";
  font-size: 1.5rem;
  margin: 62px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 808px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-group-1 {
    width: 416px;
    min-height: 166px;
    margin-top: 15px;
    margin-right: -113px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-2 .u-group-1 {
    width: 271px;
    min-height: 172px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-2 .u-image-1 {
    min-height: 821px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 50px 30px;
  }

  .u-section-2 .u-group-1 {
    width: 408px;
    min-height: 202px;
    margin-top: -5px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 311px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
    min-height: 100px;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 52px;
    margin-right: 0;
    margin-left: 7px;
  }
} .u-section-3 {
  min-height: 1982px;
}

.u-section-3 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 309px);
  height: 322px;
  margin: 2px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 491px;
  min-height: 214px;
  margin: -276px calc(((100% - 1140px) / 2) + 97px) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 12px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Great Vibes";
  margin: 57px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Antic Didone";
  margin: 20px 0 0 20px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 62px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-map-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 58px 15px;
}

.u-section-3 .u-text-3 {
  font-family: "Great Vibes";
  background-image: none;
  margin: 10px 16px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-family: "Antic Didone";
  margin: 10px 16px 0 0;
}

.u-section-3 .u-text-5 {
  font-family: "Antic Didone";
  font-size: 1.5rem;
  margin: 10px 16px 0 0;
}

.u-section-3 .u-text-6 {
  font-family: "Antic Didone";
  text-align: left;
  margin: 20px 16px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1140px;
  margin: 112px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px 0;
}

.u-section-3 .u-text-7 {
  font-family: "Great Vibes";
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-family: "Antic Didone";
  font-size: 1.875rem;
  font-weight: normal;
  margin: 14px 40px 0 0;
}

.u-section-3 .u-text-9 {
  font-family: "Antic Didone";
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-3 .u-text-10 {
  font-family: "Antic Didone";
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 358px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-map-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-wrap-3 {
  width: 1140px;
  margin: 112px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 356px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-map-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 356px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 60px 16px;
}

.u-section-3 .u-text-11 {
  font-family: Allura;
  margin: 7px 0 0;
}

.u-section-3 .u-text-12 {
  font-family: "Antic Didone";
  text-align: left;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 14px 0 0;
}

.u-section-3 .u-text-13 {
  font-family: "Antic Didone";
  font-size: 1.5rem;
  margin: 8px 0 0;
}

.u-section-3 .u-text-14 {
  font-family: "Antic Didone";
  margin: 14px 0 0;
}

.u-section-3 .u-image-2 {
  width: 319px;
  height: 351px;
  margin: -33px 0 0 auto;
}

.u-section-3 .u-text-15 {
  font-family: "Great Vibes";
  font-size: 1.875rem;
  font-style: normal;
  margin: -213px calc(((100% - 1140px) / 2) + 212px) 60px calc(((100% - 1140px) / 2) + 60px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1794px;
  }

  .u-section-3 .u-image-1 {
    width: calc(((100% - 940px) / 2) + 309px);
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 97px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 295px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 294px;
  }

  .u-section-3 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2) + 72px);
    margin-left: calc(((100% - 940px) / 2) + 87px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2354px;
  }

  .u-section-3 .u-image-1 {
    width: 359px;
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-3 .u-group-1 {
    min-height: 215px;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 96px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 81px;
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 7px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 276px;
    height: 276px;
    margin-top: -6px;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.75rem;
    width: auto;
    margin-top: -196px;
    margin-right: calc(((100% - 720px) / 2) + 127px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3122px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -17px);
  }

  .u-section-3 .u-group-1 {
    margin-top: -34px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 80px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 322px;
    order: 1;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 103px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 540px;
    margin-top: 103px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 352px;
    order: 1;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 289px;
    order: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 28px 10px 24px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 201px;
    height: 237px;
    margin-top: 110px;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.5rem;
    margin: -267px calc(((100% - 540px) / 2) + 87px) 134px calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2646px;
  }

  .u-section-3 .u-image-1 {
    height: 305px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 216px;
    margin-top: -17px;
    margin-right: calc(((100% - 340px) / 2) + -10px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
    margin-top: 77px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 5px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 340px;
    margin-top: 77px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 298px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-image-2 {
    width: 332px;
    height: 324px;
    margin-left: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-3 .u-text-15 {
    width: 340px;
    margin: 27px auto 40px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 142px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 142px;
  margin: 0 301px 0 270px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 20px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 200px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 14px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 470px;
    margin-right: 201px;
    margin-left: 170px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 165px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    font-style: italic;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 126px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 338px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 118px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 283px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 99px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}height: 500px;
width: 500px;
border-radius: 50%;